<header class="border-b border-gray-300 text-black">
    <div class="container mx-auto flex items-center justify-between py-4 px-6">
      <a href="/" class="text-2xl font-bold">lr3</a>

      <div class="flex space-x-4 items-center">
        <nav class="space-x-6 flex items-center">
          @if (isAuth) {
            <a href="/cart/{{user.id}}">Корзина</a>
            <a>{{user.login}}</a>
            <mat-icon (click)="logout()" class="cursor-pointer">logout</mat-icon>
          } @else {
            <a href="/login" class="hidden md:block bg-gray-100 text-blue-600 px-4 py-2 rounded hover:bg-gray-200">Авторизация</a>          
          }
        </nav>
      </div>
    </div>
  </header>